body {
  margin: 0;
  cursor: default;
  color:#fff;
  font-size: 20px;
}

a {
  text-decoration: none;

}

ul {
  padding: 0;
}

li {
  list-style: none;
}
button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  padding:0;
}

.section {
  text-align: center;
  margin:auto;
  padding: 80px 0px;
}

/* Navbar */

#navbar {
  position: fixed;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  width:100%;
  z-index: 1;
  padding: 15px 0px;
}

.navbar__title{
  display: flex;
  align-items: center;
  padding: 5px 20px;
}

.navar__title__name {
  display: flex;
  flex-direction: column;

}

.navbar__title__main {
  font-size: 40px;
}

.navbar__title__sub {
  font-size: 10px;
}

.navbar__menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar__menu__item {
  padding: 4px 4px;
  margin: 4px 10px;
  cursor: pointer;
  border: 1px solid transparent;
}

.navbar__menu__item:hover,
.navbar__menu__item.active {
 
}

.navbar__menubtn {
  position: absolute;
  right: 30px;
  top: 23px;
  /* display: none; */

}


.navbar__menu.active,
.material-icons menu {
  display: flex;
}



.navbar__menu.active {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  
}

/* Home */
#home {
  background-image: url(images/01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 1;

}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__photo {
  width: 250px;
  height: 230px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 1px solid #fff;
}

.home_profile {

}

.home__contactme {
  color:#fff;
  margin: 0 60px;
}

.home__contact__btn{
  width: 100px;
  height:30px;
  color:#fff;
}

.home__contact__btn:hover {
  width: 100px;
  height:30px;
  background-color: rgb(230, 230, 230);
  color:#000;
  border-radius: 5%;
  transition: all ease-in 200ms;
}

.hannaicon {
  width:60px;
}

/* About */
#about {
  background-color: rgb(234, 234, 234);
  color:#333;
}

/* skills */
#skills {
  background-color: rgb(255, 255, 255);
  color:#333;
}


/* Works */
#works{
  background-color: rgb(234, 234, 234);
  color:#333;
}

/* Contact */
#contact {
  background-color: rgb(234, 234, 234);
  color:#333;
}


/* arrow btn */

.arrowbutton {
  position: fixed;
  bottom: 5%;
  right: 40px;
  font-size: 35px;
  z-index: 1;
}